#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.navigationMenu {
  list-style: none;
  padding:0;
  position: fixed;
  top: 1rem;
  left: 0;
  right: 0;
  margin: auto;
}
.navigationMenu a {
  display: inline-block;
  padding: 0.5rem;
  background-color: #1A1A1A;
  border-radius: 8px;
  border: 1px solid #1A1A1A;
  margin-left: 3px;
  margin-right: 3px;
  color: #FAFAFA;
}
.navigationMenu a:hover {
  border: 1px solid #3C4084;
}
.navigationMenu .active {
  background-color: #3a3a3a;
}